section{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    background: #3d3d3d;
    border-bottom-width: 3px;
    border-bottom-color: #62e5e9;
    border-bottom-style: solid;

}

section iframe {
    width: 85vw;
    height: 250px;
}

section .class-content {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    text-align: center;
}

section .class-content .buttom {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #62e5e9;
    margin-top: 1rem;

    border: none;
    border-radius: 0.5rem;

    
}
.buttom img {
    height: 35px;
    width: 35px;
    margin-right: 0.5rem;
}

.buttom a{
    font-family: Archivo;
    font-weight: 500;
    font-size: 1.2rem;
    color: black;

    padding: 1.2rem;
    
    text-decoration: none;
    outline: 0;
}