* { /* Tirando a margem padrão do html */
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh; /*altura*/
    width: 100vw;
}

body {
    background: #66cccc;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#id-img .img-qi img{

    height: 30vh;
    width: 70vw;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 1.5rem;
    margin-bottom: 4rem;

}

.buttons-container {
    
    display: inline;
    align-items: center;
    justify-content: center;
    
}

.buttons-container a{
    width: 15rem;
    height: 4rem;

    border-radius: 0.8rem;
    margin-top: 0.8rem;

    font: 600 2rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background 0.2s;

    color:  white;
}

.buttons-container a img{

    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-container a.qi img {

    width: 3rem;
    margin-right: 1.2rem;
    margin-left: 1rem;
}

.buttons-container a.imc img {
    width: 6rem;
    
}

.buttons-container a.qi {
    background: #ff9999;
    width: 80vw;
}

.buttons-container a.qi:hover {
    background: #fd6161;
}

.buttons-container a.imc {
    background: #333333;
   
    width: 80vw;
}

.buttons-container a.imc:hover{
    background: #000000;
}

@media(min-width : 500px ) {

    #id-img .img-qi {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #id-img .img-qi img{

        height: 250px;
        width: 350px;
    
    }

}

@media(min-width : 840px ) {
    
    #id-img {
        display: flex;
    }

    #id-img .img-qi {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #id-img .img-qi img{

        height: 250px;
        width: 350px;
    
    }

    .buttons-container a.qi {
        width: 300px;
        height: 100px;

        margin-left: 50px;
    
    }
    .buttons-container a.imc {
        width: 300px;
        height: 100px;

        margin-left: 50px;
    }
}
