* { /* Tirando a margem padrão do html */
    margin: 0;
    padding: 0;
}

.img-header {
    width: 100vw;
    height: 70px;

    background: #ff9933;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 0 1rem 1rem;
}

body {
    background: white;
}

.img-header img {

    width: 50px;
    height: 50px;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page-questions {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;

    margin-left: 1rem;

    margin-top: 2rem;
}

.page-questions label {
    font: 500 1rem Archivo;
    color: #585353;
}

.page-questions input{

    width: 80px;
    height: 30;

    color: black;

    border-color: #ff9933;

    border-radius: 1rem;
    font: 1.5rem Archivo;

    outline: 0;

    text-align: center;
}

strong{
    font: 700 0.8rem Archivo;
}

#input-maior65-imc {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

#input-menor65-imc {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;
}

input[type=radio] {
    width: 2em;
    height: 1em;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    
    position: relative;
    
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;

    background-color: #ff9933;
}

.class-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 150px;
    height: 70px;

    background: #ff9933;
    color: black;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    transition: 0.2s;
    margin-top: 2rem;

    outline: 0;

}

button:hover {
    background: #f68c22;
}

section {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.class-resultado ,.class-classificacao {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.class-classificacao p {
    font: 600 1.5rem Archivo;
    color: #f68c22;
}

.class-mensagem p {
    font: 600 1rem Archivo;
    color: #585353;
}
#id-resultado {
    background: #ff9933;
    display: grid;

    border: 0;
    border-radius: 100px;

}

.class-resultado p {
    font: 700 2rem Archivo;

    align-items: center;
}

@media(min-width: 500px) {
    
}