* { /* Tirando a margem padrão do html */
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh; /*altura*/
    width: 100vw;
}

body {
    background: #666666;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#id-img .img-qi {
    display: flex;
    align-items: center;
    justify-content: center;
}

#id-img .img-qi img{

    height: 40vh;
    width: 60vw;

    margin-bottom: 4rem;

}

.buttons-container {
    
    display: inline;
    align-items: center;
    justify-content: center;
    
}

.buttons-container a{
    width: 15rem;
    height: 4rem;

    border-radius: 10rem;
    margin-top: 0.8rem;

    font: 600 1.5rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background 0.2s;

    color:  #333333;
}

.buttons-container a.qi img {

    width: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.buttons-container a.imc img {
    width: 2.5rem;
    margin-right: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    
}

.buttons-container a.qi {
    background: #3399cc;
    width: 70vw;
}

.buttons-container a.qi:hover {
    background: #2582b1;
}

.buttons-container a.imc {
    background: #ff9933;
   
    width: 70vw;
}

.buttons-container a.imc:hover{
    background: #d8791a;
}

@media(min-width : 500px ) {

    #id-img .img-qi {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #id-img .img-qi img{

        height: 250px;
        width: 350px;
    
    }

}

@media(min-width : 840px ) {
    
    #id-img {
        display: flex;
    }

    #id-img .img-qi {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #id-img .img-qi img{

        height: 250px;
        width: 350px;
    
    }

    .buttons-container a.qi {
        width: 300px;
        height: 100px;

        margin-left: 50px;
    
    }
    .buttons-container a.imc {
        width: 300px;
        height: 100px;

        margin-left: 50px;
    }
}
